@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

#root, .App, body, html {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: purple;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-wrapper {
  width: 50%;
  display: flex;

  .question {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #9da3fb;
    
    .text {
      font-size: 16px;
      color: #464b90;
    }

    .completed {
      top: -27px;
      left: 0;
      right: 0;
      margin: auto;
      width: 200px;
      padding: 14px;
      display: flex;
      color: #fff;
      font-size: 15px;
      position: absolute;
      border-radius: 50px;
      align-items: center;
      justify-content: center;
      background-color: #717aef;
    }


  }
}