@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

#root, .App, body, html {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .question {
    width: 100%;
    padding: 1.75rem 0;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #6d75f587;
    
    .text {
      font-size: 16px;
      color: #354f6b;
      text-align: center;
      width: 80%;
    }

    .completed {
      top: -27px;
      left: 0;
      right: 0;
      margin: auto;
      width: 200px;
      padding: 14px;
      display: flex;
      color: #fff;
      font-size: 15px;
      position: absolute;
      border-radius: 50px;
      align-items: center;
      justify-content: center;
      background-color: #717aef;
    }
  }


  .answer-list {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  
    .answer {
      flex: 1;
      font-weight: 500;
      display: flex;
      padding: 1rem 0;
      color: #354f6b;
      border-radius: 8px;
      transition: ease-in 0.2s;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 2px solid #6d75f587;

      &:first-child {
        margin-right: 1rem;
      }

      &:hover {
        cursor: pointer;
        color: #4e87c3;
        background-color: #e8e9fe;
      }
    }

    .selected {
      cursor: pointer;
      color: #4e87c3;
      background-color: #e8e9fe;
    }

  }

  .purple-btn {
    display: flex;
    color: #fff;
    border: none;
    width: 150px;
    font-size: 13px;
    margin-top: 2rem;
    padding: 14px 0;
    font-weight: 600;
    border-radius: 50px;
    align-items: center;
    transition: ease-in 0.1s;
    justify-content: center;
    background-color: #717aef;
    box-shadow: 1px 4px 11px 1px #9dabef8e;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  .completed-quiz {
    width: 100%;
    padding: 1.75rem 1rem;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #6d75f587;

    .score {
      display: flex;
      color: #354f6b;
      font-weight: 600;
      align-items: center;
    }

    .answers {
      margin: 0;
      padding: 0;
      color: #354f6b;
      margin-top: 1rem;
      list-style-type: none;

      .correct {
        color: green;
      }

      .incorrect {
        color: red;
      }

      .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;

        .title {
          margin: 0;
          padding: 0;
          text-align: center;
          font-size: 13px;
          color: #354f6b!important;
        }
        .answer {
          margin: 0;
          padding: 0;

        }
      } 

    }

  }

}